# Dependencies
node_modules/

# Build outputs
dist/
out/

# electron-vite
.vite/

# Environment & local files
.env*
!.env.example
.DS_Store
*.pem
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Electron
*.crx
